.ui-combobox {
	position: relative;
	display: inline-block;
	margin-left: 9px;
	margin-bottom: 6px;
}
.ui-button-icon-primary {padding-right:4px;}
.ui-combobox-toggle {
	position: absolute;
	top: 0;
	/* bottom: 0; */
	height: 2em;
	margin-left: 5px;
	padding: 0;
	/* adjust styles for IE 6/7 
	*top: 0.1em;
	*/
}
.ui-combobox-input {
	margin: 0;
	padding: 0.3em;	
	width: 205px;
}
li.ui-menu-item {text-align:left;}